* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

.container {
    width: 90%;
    max-width: 62.75rem;
    /* 1004px max desktop */
    margin: 0 auto;
}

body {
    font-family: var(--primary-font);
    font-size: 1rem;
    font-weight: 500;
    color: grey;
}

h1 {
    font-size: 2rem;
    font-family: var(--secondary-font);
    color: white;
    margin: 15px 0;
}

h2 {
    font-size: 1.75rem;
    font-family: var(--secondary-font);
    color: black;
    margin: 15px 0;
    margin-top: 40px;
}

h3 {
    font-size: 1.1rem;
    color: var(--primary-color);
    margin: 15px 0;
}

h4 {
    color: white;
    margin: 15px 0;
}

h5 {
    color: black;
    font-weight: 700;
    margin: 10px 0;
}

h6 {
    color: var(--primary-color);
    margin: 10px 0;
}

.boton {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
    padding: 13px;
    border: 2px solid var(--primary-color);

    &:hover {
        background-color: transparent;
        color: var(--primary-color);
        transition: 0.5s;

        span {
            transform: translateX(5px);
        }
    }
}

#buttonup {
    position: sticky;
    bottom: 3rem;
    left: 94vw;
    display: inline-block;
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 20%;
    font-size: 2rem;
    text-decoration: none;
    color: white;
}