.hero {
    height: 100vh;
    background-image: url(../images/fondo.jpg);
    background-position: center;
    background-size: cover;
    align-content: center;
    background-color: #707070;
    background-blend-mode: multiply;

    li {
        margin: 10px;
        display: inline-block;

        i {
            color: white;
            font-size: 2rem;
        }
    }
}



.title {
    height: 100px;
    align-content: center;
    text-align: center;

    hr {
        width: 100px;
        border: none;
        height: 2px;
        background-color: var(--primary-color);
        color: var(--primary-color);
        transform: translateY(-8px);
    }

    p {
        color: var(--primary-color);
        transform: translateY(-25px);
        font-weight: 700;
    }

    span {
        color: var(--primary-color);
    }
}

.flex {
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;

    article {
        display: inline-block;
        margin: 10px;

        i {
            color: var(--primary-color);
            font-size: 2rem;
            padding: 5px;
            border: 1px solid var(--primary-color);
        }

        a {
            display: inline-block;
            text-decoration: none;
            color: var(--primary-color);
            font-weight: 700;
            padding: 15px 0;

        }
    }
}

.rotate {
    position: relative;
    display: inline-block;

    &:hover {
        div {
            transform: rotate(0deg);
            transition: 1s;
        }
    }

    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 3px solid var(--primary-color);
        transform: rotate(10deg);
        transition: 1s;

        &:hover {
            transform: rotate(0deg);
            transition: 1s;

        }
    }

    figure {
        position: relative;
        width: 100%;

    }
}