/* MOBILE FIRST */
/* contenido en una columna */





/* SALTO 601px */
@media(width>=601px) {

    #contacto .icons {
        span {
            display: inline-flex;
            color: white;
            /* ver como centrar texto, verificar que es tamaño y color correcto */
        }
    }

    /* contenido en 2 columnas */





    /* SALTO A 769px */
    @media(width>=769px) {

        header .hamburguer {
            display: none;
            /* ver por que me lo borra en todos lados */
        }

        header nav ul {
            width: 30%;
            display: inline-flex;

        }

        header nav ul a {
            display: flex;
        }

        hr {
            display: none;
        }
    }

    /* contenido en 3 columnas */

    /* MAX DE DESKTOP 1004px */