/* MOBILE FIRST */
/* contenido en una columna */

/* SALTO 601px */
@media(width>=601px) {

    /* contenido en 2 columnas */
    .flex {
        article {
            width: 45%;
            border-left: 2px solid lightgrey;
            border-bottom: 0px solid lightgrey;
            padding: 0 20px;

            &:last-child {
                width: 100%;
            }
        }
    }

    .about {
        height: auto;

        .rotate {
            width: 45%;
        }

        #history {
            margin: 0 50px;
            width: 40%;
            display: inline-block;
            position: absolute;

        }



    }

}


/* SALTO A 769px */
@media(width>=769px) {

    header {

        #contacto .icons {

            span {
                display: inline-flex;
                color: white;
            }
        }

        .hamburguer {
            display: none;
            /* ver por que me lo borra en todos lados */
        }

        nav ul {
            width: 30%;
            display: inline-flex;

        }

        nav ul a {
            display: flex;
        }

        hr {
            display: none;
        }
    }


    /* contenido en 3 columnas */
    .flex article {
        width: 30%;

        &:last-child {
            width: 30%;
        }
    }
}

/* MAX DE DESKTOP 1004px */