@import url(./reset.css);

/* fonts */
/* cargamos fuentes google fonts: Montserrat 400 y 700, Handlee */
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');
/*  font-family: "Montserrat", serif;
    font-weight: 400 / 700;
    font-family: "Handlee", serif;
    font-weight: 400; */

/* iconos */
/* cargamos fontawesome / yo uso boxicons*/
@import url(https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css);

/* variables root */
@import url(./variables.css);

/* layout */
@import url(./layout.css);

/* header */
@import url(./header.css);

/* main */

/* footer */

/* mediaqueries (siempre al ultimo) */
@import url(./mediaquery.css);